@using Syncfusion.Blazor.DropDowns
@using Newtonsoft.Json
@inject AntrenamentService antrenamentService
@inject ReportDbContext context
@inject NavigationManager NavigationManager;

@if (Antrenament != null)
{
    <div class="row">
        <div class="col-md-6">
            <h3>Antrenament selectat: </h3>
        </div>
        <div class="col-md-6">
            <p class="font-weight-bolder">@($"Data: {Antrenament.Data.ToString("dd:MM:yyyy")}, Ora: {Antrenament.OraStart.ToString("hh:mm")}, Grupa: {Antrenament.Grupa},PT: { Antrenament.IsPersonalTraining}")</p>
        </div>
    </div>
    
    
    <div class="col-md-6">
        <p class="text-info">@MesajCB</p>
        <ListCombBoxComponent Mesaj="@MesajCB" ListAbPersoanaViewModel="@ListAbPersoanaViewModel" OnChange="OnChange"></ListCombBoxComponent>
    </div>

    @if (Antrenament.ListaPersoane == null || Antrenament.ListaPersoane.Count == 0)
    {
        <text>Lista de persoane pentru acest antrenament este goala.</text>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nume</th>
                    <th>Nr sedinte</th>
                    <th>End Abonament</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pers in Antrenament.ListaPersoane)
                {
                    <tr>
                        <td><button class="btn btn-outline-danger" @onclick="@(elem => RemovePersonFromAntrenament(pers))">Sterge persoana</button></td>
                        <td>@pers.NumeComplet</td>
                        <td>@antrenamentService.GetNrSedinteEfByPersonID(pers.PersoanaModelID, context)</td>
                        <td>@antrenamentService.GetAbonamentByLastPersonID(pers.PersoanaModelID, context).DataStop.ToString("dd:MM:yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
@code {
    [Parameter]
    public AntrenamentModel Antrenament { get; set; }
    public List<AbonamentModel> ListaAbonamenteActive { get; set; }
    public List<AbonamentPersoanaViewModel> ListAbPersoanaViewModel { get; set; }
    public string ComboVal { get; set; }
    public string MesajCB { get; set; }

    protected override void OnParametersSet()
    {
        if (Antrenament != null)
        {
            // Reinitializare Lista pentru ComboBox dupa ce am adaugat un element
            RefrehListViewPersoane();
        }
    }

    public string DropVal { get; set; }
    public string ChangeValue { get; set; }

    // Add Person abonament To Antrenament
    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {

        var itemData = JsonConvert.DeserializeObject<AbonamentPersoanaViewModel>(args.ItemData != null ? args.ItemData.ToString() : "");
        if (itemData != null)
        {
            ChangeValue = itemData.PersoanaNume;
            Console.WriteLine($"abon ID: {itemData.AbonamentID}");
            Console.WriteLine($"DropVal: {DropVal}");
            DropVal = null;
            Console.WriteLine($"Drop val after clear: {DropVal}");
            // Adaug Persoana la Antrenament Selectat in PersAntrAbTable
            MesajCB = antrenamentService.AddPersonToAntrenament(Antrenament, itemData.AbonamentID, context);
            // Reset Status abonament
            AbonamentModel ab = antrenamentService.GetAbonamentByAbID(itemData.AbonamentID, context);
            antrenamentService.RefreshStatusAbonament(ab.AbonamentModelID, context);
            // Reinitializare Lista pentru ComboBox dupa ce am adaugat un element
            RefrehListViewPersoane();

            // Artificiu selectam un antrenament null si apoi revenim la antrenament selectat pentru a reseta selectie comboBox
            // Nu il folosim ca avem eroare de la Syncfusion
            ComboVal = "";
            //AntrenamentModel tempAntrenament = Antrenament;
            //Antrenament = null;
            //base.StateHasChanged();
            //Antrenament = tempAntrenament;

            //InvokeAsync(() =>
            //{
            base.StateHasChanged();
            //});
        }
    }

    // Remove person from antrenament
    public void RemovePersonFromAntrenament(PersoanaModel pers)
    {
        AbonamentModel ab = antrenamentService.GetAbonamentByLastPersonID(pers.PersoanaModelID, context);
        MesajCB = antrenamentService.RemovePersonFromAntrenament(Antrenament, ab.AbonamentModelID, context);
        // Reset Status abonament
        antrenamentService.RefreshStatusAbonament(ab.AbonamentModelID, context);
        // Reinitializare Lista pentru ComboBox dupa ce am adaugat un element
        RefrehListViewPersoane();
    }
    // Reinitializare Lista pentru ComboBox dupa ce am adaugat un element
    public void RefrehListViewPersoane()
    {
        Antrenament.ListaPersoane = antrenamentService.GetListOfPersByAntrID(Antrenament.AntrenamentModelID, context).Result;
        if (Antrenament.IsPersonalTraining)
            ListaAbonamenteActive = antrenamentService.GetListaAbActivePT(context);
        else ListaAbonamenteActive = antrenamentService.GetListaAbActiveGrupa(context).Result;
        if (ListaAbonamenteActive != null)
        {
            ListAbPersoanaViewModel = new List<AbonamentPersoanaViewModel>();
            foreach (var item in ListaAbonamenteActive)
            {
                if (!antrenamentService.IsAbonamentInAntrenament(item, Antrenament, context))
                    ListAbPersoanaViewModel.Add(
                        new AbonamentPersoanaViewModel
                        {
                            AbonamentID = item.AbonamentModelID,
                            PersoanaNume = item.PersoanaModel.NumeComplet
                        });
            }
        }
    }
}
