@inject AntrenamentService antrenamentService
@inject ReportDbContext context
@using Syncfusion.Blazor.DropDowns
@using Newtonsoft.Json
@using System.Collections.ObjectModel;


<h3>AntrenamentComponent</h3>
@if (Antrenament != null)
{
    <div class="col-md-6">
        <SfComboBox TValue="string" TItem="AbonamentPersoanaViewModel" PopupHeight="230px" Placeholder="Selecteaza o persoana" AllowFiltering="true" @bind-Value="@DropVal" DataSource="@ListAbPersoanaViewModel">
            <DropDownListEvents TValue="string" ValueChange="OnChange"></DropDownListEvents>
            <ComboBoxFieldSettings Text="PersoanaNume" Value="AbonamentID"></ComboBoxFieldSettings>
        </SfComboBox>
    </div>


    <p>Antrenament Selectat: @Antrenament.Data.ToString("dd:MM:yyyy") @Antrenament.OraStart</p>

    @if (Antrenament.ListaPersoane == null || Antrenament.ListaPersoane.Count == 0)
    {
        <text>Lista de persoane pentru acest antrenament este goala.</text>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nume</th>
                    <th>Nr sedinte</th>
                    <th>End Abonament</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pers in Antrenament.ListaPersoane)
                {
                    <tr>
                        <td>BTN_Remove</td>
                        <td>@pers.NumeComplet</td>
                        <td>@antrenamentService.GetNrSedinteEfByPersonID(pers.PersoanaModelID, context)</td>
                        <td>@antrenamentService.GetAbonamentByPersonID(pers.PersoanaModelID, context).DataStop.ToString("dd:MM:yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
@code {
    [Parameter]
    public AntrenamentModel Antrenament { get; set; }
    public List<AbonamentModel> ListaAbonamenteActive { get; set; }
    public ObservableCollection<AbonamentPersoanaViewModel> ListAbPersoanaViewModel { get; set; }
    public string DropVal { get; set; }
    public string ChangeValue { get; set; }


    protected override void OnParametersSet()
    {
        if (Antrenament != null)
        {
            Antrenament.ListaPersoane = antrenamentService.GetListOfPersByAntrID(Antrenament.AntrenamentModelID, context).Result;
            if (Antrenament.IsPersonalTraining)
                ListaAbonamenteActive = antrenamentService.GetListaAbActivePT(context);
            else ListaAbonamenteActive = antrenamentService.GetListaAbActiveGrupa(context).Result;
            if (ListaAbonamenteActive != null)
            {
                ListAbPersoanaViewModel = new ObservableCollection<AbonamentPersoanaViewModel>();
                foreach (var item in ListaAbonamenteActive)
                {
                    if (!antrenamentService.IsAbonamentInAntrenament(item, Antrenament, context))
                        ListAbPersoanaViewModel.Add(
                            new AbonamentPersoanaViewModel
                            {
                                AbonamentID = item.AbonamentModelID,
                                PersoanaNume = item.PersoanaModel.NumeComplet
                            });
                }
            }
            Console.WriteLine($"lista abonamente active count: {ListaAbonamenteActive.Count}");
        }
    }

    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        var itemData = JsonConvert.DeserializeObject<AbonamentPersoanaViewModel>(args.ItemData != null ? args.ItemData.ToString() : "");
        if (itemData != null)
        {
            this.ChangeValue = itemData.PersoanaNume;
            Console.WriteLine($"abon ID: {itemData.AbonamentID}");
            DropVal = null;
            Console.WriteLine($"Drop val after clear: {DropVal}");
            antrenamentService.AddPersonToAntrenament(Antrenament, itemData.AbonamentID, context);
            Antrenament.ListaPersoane = antrenamentService.GetListOfPersByAntrID(Antrenament.AntrenamentModelID, context).Result;
            //AbonamentModel ab = antrenamentService.GetAbonamentByAbID(itemData.AbonamentID, context);
            AbonamentPersoanaViewModel abon = ListAbPersoanaViewModel.FirstOrDefault(o => o.AbonamentID == itemData.AbonamentID);
            ListAbPersoanaViewModel.Add(new AbonamentPersoanaViewModel { PersoanaNume ="proba1"});
            //ListAbPersoanaViewModel = new ObservableCollection<AbonamentPersoanaViewModel>();

        }
    }
}


}
