@inject AntrenamentService antrenamentService
@inject ReportDbContext context
<h3>Lista Antrenamente</h3>

<div class="form-group col-md-5">
    <label class="control-label m-md-2">Selectie zi antrenament:</label>
    <input class="form-control" type="date" id="startMonth" name="startMonth"
           min="2018-01" @bind="@selectieData" @oninput="(ui => Afiseaza((string)ui.Value))" />
</div>
@if (ListaAntrenamente == null)
{
    <text>Lista este null</text>
}
@if (ListaAntrenamente.Count == 0)
{
    <text>Nu sunt inregistrate antrenamente la data selectata: @selectieData.ToString("dd.MM.yyyy")</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Ora start</th>
                <th>Antrenor Personal</th>
                <th>Grupa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListaAntrenamente)
            {
                <tr>
                    <td>
                        @if (SelectedAntrenament != null)
                        {<button class="btn @(SelectedAntrenament.AntrenamentModelID==item.AntrenamentModelID?"btn-outline-success":"btn-dark")" @onclick="@(arg => AntrenamentPersoane(item))">Persoane Antrenament</button>}
                        else
                        {
                            <button class="btn btn-dark" @onclick="@(arg => AntrenamentPersoane(item))">Persoane Antrenament</button>
                        }
                    </td>
                    <td>@item.Data.ToString("dd:MM:yyyy")</td>
                    <td>@item.OraStart.ToString("hh:mm")</td>
                    <td>
                        @if (@item.IsPersonalTraining)
                        {
                            <input class="check-box" type="checkbox" disabled="disabled" checked />
                        }
                        else
                        {
                            <input class="check-box" type="checkbox" disabled="disabled" />
                        }
                    </td>
                    <td>@item.Grupa</td>

                </tr>
            }
        </tbody>
    </table>
}

<AntrenamentComponent Antrenament="@SelectedAntrenament"></AntrenamentComponent>

    @code {
        DateTime selectieData;
        List<AntrenamentModel> ListaAntrenamente { get; set; }
        AntrenamentModel SelectedAntrenament { get; set; }

        protected override void OnInitialized()
        {
            selectieData = DateTime.Now;
            Afiseaza(DateTime.Now.ToString("dd/MM/yyyy")); // ToString("MM/dd/yyyy")
        }
        // Afiseaza lista antrenamente din ziua selectata
        private void Afiseaza(string data)
        {
            Console.WriteLine($"Data Input: {data}");
            SelectedAntrenament = null;
            selectieData = Convert.ToDateTime(data);
            ListaAntrenamente = antrenamentService.GetAntrenamentModelsByDay(selectieData, context).Result;
            Console.WriteLine(selectieData.ToString("dd:MM:yyyy"));
            Console.WriteLine(ListaAntrenamente.Count);
        }
        // Buton Afisare persoane antrenament
        private void AntrenamentPersoane(AntrenamentModel antrenamentSelectat)
        {
            SelectedAntrenament = antrenamentSelectat;
        }

    }
