@model MVCWithBlazor.Models.AntrenamentModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esti sigur ca doresti sa stergi acest antenament?</h3>
<div>
    <h4>Antrenament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OraStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OraStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OraStop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OraStop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPersonalTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPersonalTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AntrenamentModelID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
