@model IEnumerable<MVCWithBlazor.Models.AntrenamentModel>

@{
    ViewData["Title"] = "Antrenamente";
}

<h1>Index</h1>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label class="control-label m-md-2">Selectie luna vizualizare:</label>
                <input class="form-control" type="month" id="startMonth" name="startMonth"
                       min="2018-01" value=@ViewBag.DataStart>
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Afiseaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="control-section">
    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" allowSorting="true" allowPaging="true" toolbar="@(new List<string>() { "Search" })">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="Data" headerText="Data" format="dd.MM.yyyy" width="120"></e-grid-column>
            <e-grid-column field="OraStart" headerText="OraStart" format="HH:mm" width="120"></e-grid-column>
            <e-grid-column field="OraStop" headerText="OraStop" format="HH:mm" width="120"></e-grid-column>
            <e-grid-column field="IsPersonalTraining" headerText="PT" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="80"></e-grid-column>
            <e-grid-column field="Grupa" headerText="Grupa" width="120"></e-grid-column>
            <e-grid-column template="<a href='/AppAntrenament/Edit/${AntrenamentModelID}'>Edit</a> |
                    <a href='/AppAntrenament/Details/${AntrenamentModelID}'>Details</a> |
                    <a href='/AppAntrenament/Delete/${AntrenamentModelID}'>Delete</a>" headerText="Editare" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OraStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OraStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPersonalTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OraStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OraStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPersonalTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AntrenamentModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AntrenamentModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AntrenamentModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
