@model IEnumerable<MVCWithBlazor.Models.PersoanaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Creaza persoana noua</a>
</p>

<div class="control-section">
    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" allowSorting="true" allowPaging="true" toolbar="@(new List<string>() { "Search" })">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="Nume" headerText="Nume" width="120"></e-grid-column>
            <e-grid-column field="Prenume" headerText="Prenume" width="120"></e-grid-column>
            <e-grid-column field="Email" headerText="Email" width="250"></e-grid-column>
            <e-grid-column field="Telefon" headerText="Telefon" width="120"></e-grid-column>
            <e-grid-column field="DataNastere" headerText="Data Nastere" format="dd.MM.yyyy" width="140"></e-grid-column>
            <e-grid-column field="Sex" headerText="Sex" width="80"></e-grid-column>
            <e-grid-column field="IsAcordGDPR" headerText="GDPR" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="80"></e-grid-column>
            <e-grid-column template="<a href='/AppPersoana/Edit/${PersoanaModelID}'>Edit</a> |
                    <a href='/AppPersoana/Details/${PersoanaModelID}'>Details</a> |
                    <a href='/AppPersoana/Delete/${PersoanaModelID}'>Delete</a>" headerText="Editare" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNastere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcordGDPR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNastere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcordGDPR)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersoanaModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersoanaModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersoanaModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
