@model MVCWithBlazor.Models.AbonamentModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca doresti sa stergi acest abonament?</h3>
<div>
    <h4>Abonament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataStop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataStop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StareAbonament)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StareAbonament)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrSedinteEfectuate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrSedinteEfectuate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipAbonament.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipAbonament.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersoanaModel.NumeComplet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersoanaModel.NumeComplet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AbonamentModelID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
