@using Syncfusion.EJ2
@model IEnumerable<MVCWithBlazor.Models.AbonamentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label class="control-label m-md-2">Selectie luna start abonament:</label>
                <input class="form-control" type="month" id="startMonth" name="startMonth"
                       min="2018-01" value=@ViewBag.DataStart>
            </div>
            <div class="form-group col-md-5">
                <label class="control-label m-md-2">Selectie stare abonament:</label>
                <select class="form-control" id="stareAb" name="stareAb" asp-items="Html.GetEnumSelectList<HelperStareAbonament>()">
                </select>
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Afiseaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p>
    <a asp-action="Create">Creaza abonament nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StareAbonament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrSedinteEfectuate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipAbonament.Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersoanaModel.NumeComplet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataStop)
                </td>
                <td class=@(item.StareAbonament == StareAbonament.Finalizat?"bgnd_red":item.StareAbonament == StareAbonament.Extins?"bgnd_yellow":"")>
                    @Html.DisplayFor(modelItem => item.StareAbonament)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrSedinteEfectuate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipAbonament.Denumire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersoanaModel.NumeComplet)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AbonamentModelID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AbonamentModelID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AbonamentModelID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="control-section">
    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" allowPaging="true">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="DataStart" headerText="Data Start" format="dd.MM.yyyy" width="120"></e-grid-column>
            <e-grid-column field="DataStop" headerText="Data Stop" format="dd.MM.yyyy" width="120"></e-grid-column>
            <e-grid-column field="StareAbonament" headerText="Stare" width="130"></e-grid-column>
            <e-grid-column field="NrSedinteEfectuate" headerText="Nr Sedinte Efectuate" format="C2" width="120"></e-grid-column>
            <e-grid-column field="TipAbonament.Denumire" headerText="Tip abonament" width="140"></e-grid-column>
            <e-grid-column field="PersoanaModel.NumeComplet" headerText="Nume Persoana" width="150"></e-grid-column>

        </e-grid-columns>
    </ejs-grid>
</div>